*{
    font-style: italic;
    font-family: 'Comic Sans MS';
    color: blue;
    /* background-color:lightgray; */
}
/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */