{% extends 'base.html' %}

{% block title %}ADDRESS LIST{% endblock %}

{% block header %}
    
    {% if current_user.is_authenticated %}
        
    
    <h3>Hello, you are logged in as {{ current_user.username }} VIEWING ADDRESS LIST</h3>
    {% else %}
        <h3>
            <p></p>
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            -or-
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>

        </h3>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-12">
        {% for i in addresses %}
        <div class="card mb-3">
            <div class="row g-0">

            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ i.username }}</h5>
                <p class="card-text">{{ i.first_name}} {{ i.last_name }}</p>
                <p class="card-text"><small class="text-body-secondary">adddress {{ i.address }}</small></p>
                <p class="card-text"><small class="text-body-secondary">phone {{ i.phone }}</small></p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}