{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    
    {% if current_user.is_authenticated %}
        <h3>Hello, {{ current_user.username }}</h3>
    {% else %}
        <h3>
            <p></p>
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            -or-
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>

        </h3>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-12">
        {% for i in register %}
            <div class="card mb-3">
                <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ i.first_name }}</h5>
                    <p class="card-text">{{ i.last_name }}</p>
 
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}